.mobile-btn {
	position: relative;
	padding: 0px;
	margin-left: auto;
	border: none;
	background-color: transparent;
	z-index: 20;

	@media screen and (min-width: 768px) {
		& {
			display: none;
		}
	}
}

.mobile-btn__icon {
	width: 40px;
	height: 40px;
	fill: var(--title-text-color);

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.mobile-btn:hover &,
	.mobile-btn:focus & {
		fill: var(--accent-color);
	}
}

.mobile-btn__close {
	display: none;
}

.mobile-btn.is-open {
	position: fixed;
	top: 10px;
	right: 15px;
	fill: var(--title-text-color);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.mobile-btn:hover &,
	.mobile-btn:focus & {
		fill: var(--accent-color);
	}
	
	.mobile-btn__menu {
		display: none;
	}
	.mobile-btn__close {
		display: block;
	}
}
