:root {
	--basic-font: "Roboto", sans-serif;
	--secondary-font: "Raleway", sans-serif;

	--logo-text-color: #000000;
	--title-text-color: #212121;
	--primary-text-color: #757575;
	--secondary-text-color: #ffffff;
	--accent-color: #2196f3;
	--footer-text-color: rgba(255, 255, 255, 0.6);

	--body-bg-color: #ffffff;
	--secondary-bg-color: #f5f4fa;
	--dark-bg-color: #2f303a;
	--icons-color: #afb1b8;

	--grid__item: 1;
}
