.features__item {
	--grid__item: 1;

	@media screen and (min-width: 768px) {
		& {
			--grid__item: 2;
		}
	}
	@media screen and (min-width: 1200px) {
		& {
			--grid__item: 4;
		}
	}
}

.features {
	padding-top: 60px;
	padding-bottom: 60px;

	@media screen and (min-width: 1200px) {
		& {
			padding-top: 94px;
			padding-bottom: 94px;
		}
	}
}
.features__title {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--title-text-color);

	@media screen and (max-width: 767.98px) {
		& {
			text-align: center;
		}
	}
}

.features__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	height: 120px;
	background-color: var(--secondary-bg-color);
}

.features__icon--size {
	width: 70px;
	height: 70px;
}
